body {
  background: #ffd6a4;
  font-family: "DM Sans", sans-serif;
}
h1 {
  text-align: center;
}
h2 {
  margin: 0 0 5px;
}
select {
  display: block;
  width: 100%;
  padding: 10px;
}
footer {
  text-align: center;
}
.container {
  max-width: 600 px;
  margin: 60px auto;
  border-radius: 10px;
  background: #fde9df;
  padding: 30px;
}
.city {
  display: flex;
  margin: 10px 0;
  justify-content: space-between;
  padding: 30px 0;
}
